<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
      <h1 class="h3 mb-0 text-gray-800">Create Group</h1>
    </div>
    <!-- Content Row -->
    <div class="row container mw-100">
        <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
            <div class="form-group">
                <label for="project">Project</label>
                <ng-template #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
                </ng-template>
                <input
                    id="project"
                    type="text"
                    class="form-control"
                    style="width: 100% !important;"
                    name="project"
                    placeholder="Search for Your Project"
                    formControlName="project"
                    [ngbTypeahead]="search"
                    [inputFormatter]="formatter"
                    [resultTemplate]="rt"
                    [editable]="false"
                    (selectItem)="getUsers($event)"
                />
            </div>
            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input type="text" name="groupName" id="groupName" formControlName="name" class="form-control" placeholder="Enter a group name">
            </div>
            <div class="form-group" *ngIf="selectedStudents?.length > 0">
                <label for="students">Students</label>
                <div id="students">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of selectedStudents; index as i">
                                <td>{{student.firstName + " - " + student.lastName}}</td>
                                <td>{{student.email}}</td>
                                <td>
                                    <button class="btn btn-danger" (click)="removeFromGroup(student, $event)">Remove from group</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="submit" value="Create Group" class="btn btn-primary">
        </form>
        <hr/>
        <table *ngIf="studentList?.length > 0" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentList; index as i">
                    <td>{{student.firstName + " - " + student.lastName}}</td>
                    <td>{{student.email}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="addToGroup(student, $event)">Add to group</button>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>   
</div>