<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">All Projects</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
    <div class="col">
      <table class="table ms-5">
        <thead>
        <tr>
          <th>
            Project Title
          </th>
          <th>
            Project Domain
          </th>
          <th>
            Remaining Students
          </th>
          <th>
            Links
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects">
          <td>
            {{project.title}}
          </td>
          <td>
            {{project.domain}}
          </td>
          <td>
            {{project.maxStudents - project.enrolledStudents || 0}}
          </td>
          <td>
            <a *ngIf="user.role !== 'student'" class="btn btn-primary" [routerLink]="['/projects', project._id]">View Details</a>&nbsp;
            <button *ngIf="!user.project && user.role === 'student'" class="btn btn-primary" (click)="selectProject(project._id)">Select Project</button>
            <button *ngIf="user.project === project._id && user.role === 'student'" class="btn btn-primary" (click)="rejectProject(project._id)">Reject Project</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
