<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">All Projects</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
    <div class="col">
      <table class="table ms-5">
        <thead>
        <tr>
          <th>
            Project Title
          </th>
          <th>
            Project Title
          </th>
          <th>
            Project Title
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            abc
          </td>
          <td>
            abc
          </td>
          <td>
            abc
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
