<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Profile</h1>
  </div>
  <!-- Content Row -->
  <div class="row container mw-100">
    <form [formGroup]="userForm" (ngSubmit)="update()" class="col">
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" formControlName="firstName"
                 name="firstName" id="firstName" placeholder="First Name" pattern="^[a-zA-Z\s]+$"/>
        </div>
        <div class="col-sm-6">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName"
                 name="lastName" id="lastName" placeholder="Last Name" pattern="^[a-zA-Z\s]+$"/>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" name="email" id="email"
               placeholder="Email Address" pattern="^[a-zA-Z]\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber"
               placeholder="Enter Your Phone Number"/>
      </div>
      <div class="form-group">
        <label for="skypeId">Skype ID</label>
        <input type="text" class="form-control" formControlName="skypeId" name="skypeId" id="skypeId"
               placeholder="Enter Your Skype ID"/>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password"
                 name="password" id="password" placeholder="(Unchanged)" minlength="8"/>
        </div>
        <div class="col-sm-6">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword"
                 name="confirmPassword" id="confirmPassword" placeholder="Repeat Password"/>
        </div>
      </div>
      <div class="form-group">
        <label for="image">Upload Profile Picture</label>
        <input type="file" class="form-control" id="image" accept=".jpg, .jpeg, .png"
               (change)="onImageSelected($event)" name="image"/>
      </div>
      <button class="btn btn-primary btn-block">
        Update
      </button>
      <hr/>
      <a class="small btn btn-block btn-outline-danger" [routerLink]="['/login']">Cancel</a>
    </form>
  </div>
</div>
