<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Profile</h1>
  </div>
  <!-- Content Row -->
  <div class="row container">
    <form #registerForm="ngForm" class="user">
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input type="text" class="form-control" [(ngModel)]="user.firstName"
                 name="firstName" id="firstName" placeholder="First Name" pattern="^[a-zA-Z\s]+$" #firstName="ngModel"/>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.lastName"
                 name="lastName" id="lastName" placeholder="Last Name" pattern="^[a-zA-Z\s]+$" #lastName="ngModel"/>
        </div>
      </div>
      <div *ngIf="firstName.errors">
        First Name can only be alphabets
      </div>
      <div *ngIf="lastName.errors">
        Last Name is can only be alphabets
      </div>
      <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="user.email" name="email"
               placeholder="Email Address" pattern="^[a-zA-Z]\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
               #email="ngModel"/>
      </div>
      <div *ngIf="email.errors">
        Enter a valid email
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input type="password" class="form-control" [(ngModel)]="user.password"
                 name="password" id="password" placeholder="Password" required minlength="8" #password="ngModel"/>
        </div>
        <div class="col-sm-6">
          <input type="password" class="form-control" [(ngModel)]="user.confirmPassword"
                 name="confirmPassword" id="confirmPassword" placeholder="Repeat Password" required
                 #confirmPassword="ngModel"/>
        </div>
      </div>
      <div *ngIf="password.model != '' && password.invalid">
        Enter a valid Password
      </div>
      <div *ngIf="confirmPassword.model != '' && (confirmPassword.model !== password.model)">
        Enter a valid confirmPassword
      </div>
      <div class="form-group">
        <input type="file" class="form-control" [(ngModel)]="user.image" accept=".jpg, .jpeg, .png"
               (change)="onImageSelected($event)" name="image" #image="ngModel"/>
      </div>
      <button (click)="update()" [disabled]="!registerForm.valid" class="btn btn-primary btn-user btn-block">
        Register Account
      </button>
    </form>
    <hr/>
    <div class="text-center">
      <a class="small" [routerLink]="['/forgot_password']">Update</a>
    </div>
    <div class="text-center">
      <a class="small" [routerLink]="['/login']">Cancel</a>
    </div>
  </div>
</div>
