<ul ngbNav #nav="ngbNav" [(activeId)]="active" [ngClass]="toggled ? '' : 'toggled'" class="nav-tabs nav-pills navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" orientation="vertical">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon">
          <img src="../../../assets/images/logo.png" alt="FYP Management System" />
      </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li [ngbNavItem]="'/'" class="nav-item">
      <a ngbNavLink class="nav-link" [routerLink]="['/']">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Nav Item - Users -->
  <li [ngbNavItem]="'/users'" *ngIf="user['role'] === 'admin'" class="nav-item">
      <a ngbNavLink class="nav-link" [routerLink]="['/users']">
          <i class="fas fa-user-circle"></i>
          <span>Users</span>
      </a>
  </li>

  <!-- Nav Item - Documents -->
  <li [ngbNavItem]="'/projects/new'" *ngIf="user['role'] === 'supervisor' || user['role'] === 'admin'" class="nav-item">
      <a ngbNavLink class="nav-link" [routerLink]="['/projects/new']">
          <i class="fa fa-file-alt"></i>
          <span>Upload Projects</span>
      </a>
  </li>

  <!-- Nav Item - Projects -->
  <li [ngbNavItem]="'/projects'" class="nav-item">
    <a ngbNavLink class="nav-link" [routerLink]="['/projects']">
      <i class="fa fa-files"></i>
      <span>All Projects</span>
    </a>
  </li>

  <!-- Nav Item - Projects -->
  <li [ngbNavItem]="'/my_projects'" *ngIf="user['role'] === 'supervisor' || user['role'] === 'admin'" class="nav-item">
    <a ngbNavLink class="nav-link" [routerLink]="['/my_projects']">
      <i class="fa fa-files"></i>
      <span>My Projects</span>
    </a>
  </li>

  <!-- Nav Item - Projects -->
  <li [ngbNavItem]="'/groups/new'" *ngIf="user['role'] === 'supervisor' || user['role'] === 'admin'" class="nav-item">
    <a ngbNavLink class="nav-link" [routerLink]="['/groups/new']">
      <i class="fa fa-users-medical"></i>
      <span>Create Groups</span>
    </a>
  </li>

  <!-- Nav Item - Groups -->
  <li [ngbNavItem]="'/groups'" *ngIf="user['role'] === 'supervisor' || user['role'] === 'admin'" class="nav-item">
    <a ngbNavLink class="nav-link" [routerLink]="['/groups']">
      <i class="fa fa-users"></i>
      <span>All Groups</span>
    </a>
  </li>

  <!-- Nav Item - Timetable -->
  <li [ngbNavItem]="'/timetable'" *ngIf="user['role'] === 'supervisor' || user['role'] === 'admin'" class="nav-item">
    <a ngbNavLink class="nav-link" [routerLink]="['/timetable']">
      <i class="fa fa-calendar-alt"></i>
      <span>Timetable</span>
    </a>
  </li>

  <!-- Nav Item - Meetings -->
  <li [ngbNavItem]="'/meetings/new'" *ngIf="user['role'] === 'supervisor' || user['role'] === 'admin'" class="nav-item">
    <a ngbNavLink class="nav-link" [routerLink]="['/meetings/new']">
      <i class="fa fa-calendar-plus"></i>
      <span>Schedule a meeting</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" (click)="toggler()" id="sidebarToggle"></button>
  </div>
</ul>
