<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
      <div class="sidebar-brand-icon">
          <img src="../../../assets/images/logo.png" alt="FYP Management System" height="40px" width="40px" />
      </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Nav Item - Users -->
  <li class="nav-item">
      <a class="nav-link" href="users.html">
          <i class="fas fa-users"></i>
          <span>Users</span>
      </a>
  </li>

  <!-- Nav Item - Documents -->
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/upload_project']">
          <i class="fa fa-file"></i>
          <span>Upload Projects</span>
      </a>
  </li>

  <!-- Nav Item - Projects -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projects']">
      <i class="fa fa-file"></i>
      <span>All Projects</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
