<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">All Users</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
    <div class="col mx-lg-5 mx-sm-1 table-responsive-lg">
      <table class="table">
        <thead>
        <tr>
          <th class="w-50" scope="col">
            User Name
          </th>
          <th scope="col">
            User Email
          </th>
          <th scope="col">
            Account
          </th>
          <th scope="col">
            Links
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td scope="row">
            {{user.firstName + ' - ' + user.lastName}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{user.role}}
          </td>
          <td>
            <a class="btn btn-primary" *ngIf="user._id !== myUser._id" [routerLink]="['/users', user._id]"> view details</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
