<ng-template #content let-modal>
	<form [formGroup]="taskForm" (ngSubmit)="createTask()" class="col">
		<div class="modal-header">
			<h4 class="modal-title">Create Task</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" formControlName="title"
                       name="title" id="title" placeholder="Enter Title"/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" formControlName="description"
                       name="description" id="description" placeholder="Enter Description"/>
            </div>
            <div class="form-group">
                <label for="deadline">Deadline</label>
				<div class="input-group">
					<input
						id="deadline"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"><i class="fa fa-calendar"></i></button>
				</div>
            </div>
            <div class="form-group">
                <label for="totalMarks">Total Marks</label>
                <input type="number" class="form-control" formControlName="totalMarks"
                       name="totalMarks" id="totalMarks" placeholder="Enter Total Marks" min="0"/>
            </div>
            <div class="form-group">
                <label for="document">Question Document</label>
                <input type="file" class="form-control" formControlName="questionDocument"
                       name="document" id="document" (change)="onFileSelected($event)" placeholder="Upload Question Document"/>
            </div>
		</div>
		<div class="modal-footer">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
			<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
		</div>
	</form>
</ng-template>
