<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper" class="h-100">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column position-relative h-100">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <div class="position-sticky sticky-top">
        <app-topbar (togglerEvent)="toggleSidebar()"></app-topbar>
      </div>
      <!-- End of Topbar -->
      <flash-messages></flash-messages>
      <!-- Begin Page Content -->
      <router-outlet></router-outlet>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="position-sticky sticky-bottom sticky-footer bg-white">
      <div  class="container my-auto">
        <div  class="copyright text-center my-auto">
          <span>Copyright &copy; Sheraz 2023</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
