<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">Group Details</h1>
  </div>
  <head>
    <title>Project Details</title>
  </head>
  <!-- Content Row -->
  <div class="row container">
    <div>
      <h2 class="project-name">{{ project.title }}</h2>
    </div>
    <div>
      <h2>Members</h2>
      <div class="list-group">
        <div
          class="list-group-item member-item"
          *ngFor="let student of students"
        >
          <span class="member-name"
            >{{ student.firstName }} {{ student.lastName }}</span
          >
        </div>
      </div>
      <div class="row justify-content-around align-items-center">
        <h1 class="col-9">Tasks</h1>
        <div class="col-2">
          <button class="btn btn-primary" *ngIf="currentUser.role !== 'student'" (click)="addTask()">Add Task</button>
        </div>
      </div>
      <ngb-accordion>
        <ngb-panel
          *ngFor="let task of tasks"
          [title]="task.title"
          [id]="task._id"
        >
          <ng-template ngbPanelContent>
            <p>{{ task.description }}
              <a [routerLink]="['/tasks/' + task._id]"> show task</a>
            </p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
<app-create-task (taskCreated)="addToTasks($event)"></app-create-task>
