<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
      <h1 class="h3 mb-0 text-gray-800">Task Details</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-8">
        <!-- Task Details Card -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <p class="card-text">Start Date: {{ task.startDate | date }}</p>
            <p class="card-text">Deadline: {{ task.deadline | date }}</p>
            <p class="card-text">Status: {{ task.status }}</p>
            <!-- You can include other task details here -->
          </div>
        </div>
      </div>
  
      <!-- Task Result Card (Right Sidebar) -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Task Result</h5>
            <p class="card-text" *ngIf="!!taskResult._id">Remarks: {{ taskResult?.remarks }}</p>
            <p class="card-text" *ngIf="!!taskResult._id">Score: {{ taskResult?.score }}</p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <button *ngIf="!taskResult._id" class="btn btn-primary" (click)="makeResult()" >Make Result</button>
            <button *ngIf="!!taskResult._id" class="btn btn-primary" (click)="makeResult()" >Edit Result</button>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <form [formGroup]="groupForm" (ngSubmit)="submitTask()" enctype="multipart/form-data">
          <div class="form-group">
            <label for="document">{{documents.length > 0 ? 'Upload Revision' : 'Upload Document:'}}</label>
            <input type="file" formControlName="document" id="document" name="document" class="form-control" (change)="onFileSelected($event)" />
          </div>
          <button type="submit" class="btn btn-primary">Submit Work</button>
        </form>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your Uploaded Documents</h5>
            <div *ngFor="let doc of documents;index as i">
              <p class="card-text">Name: {{ doc?.name }} 
                <a [href]="doc.path" target="_blank" class="btn btn-primary">Download File</a>
                {{i == (documents.length -1) ? "Latest File" : ""}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-create-result (resultCreated)="addResult($event)"></app-create-result>