<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">Project Upload</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
    <div class="col ms-4">
      <form [formGroup]="projectForm" enctype="multipart/form-data" id="project_upload_form">
        <div class="form-group">
          <label for="title">Project Title</label>
          <input formControlName="title" type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Project Description</label>
          <input type="text" class="form-control" id="description" name="description" formControlName="description" placeholder="Enter Description">
        </div>
        <div class="form-group">
          <label for="skills">Required Skills</label>
          <div ngbDropdown>
            <button ngbDropdownToggle id="skills" class="form-control text-start d-flex justify-content-between align-items-center">
              <div>{{skills.join(', ') || 'Select Skills'}}</div> <span class="caret"></span>
            </button>
            <ul ngbDropdownMenu class="w-100">
              <li ngbDropdownItem *ngFor="let skill of availableSkills">
                <label role="button" class="w-100">
                  <input type="checkbox" [value]="skill" (change)="toggleSelection(skill, skills)" [checked]="skills.includes(skill)">
                  {{ skill }}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="domain">Domain</label>
          <input type="text" class="form-control" id="domain" name="domain" formControlName="domain"
                 placeholder="Enter Domain of Project">
        </div>
        <div class="form-group">
          <label for="languages">Programming Languages</label>
          <div ngbDropdown>
            <button ngbDropdownToggle id="languages" class="form-control text-start d-flex justify-content-between align-items-center">
              <div>{{languages.join(', ') || 'Select Languages'}}</div> <span class="caret"></span>
            </button>
            <ul ngbDropdownMenu class="w-100">
              <li ngbDropdownItem *ngFor="let language of availableLanguages">
                <label role="button" class="w-100">
                  <input type="checkbox" [value]="language" (change)="toggleSelection(language, languages)" [checked]="languages.includes(language)">
                  {{ language }}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="tools">Tools</label>
          <div ngbDropdown>
            <button ngbDropdownToggle id="tools" class="form-control text-start d-flex justify-content-between align-items-center">
              <div>{{tools.join(', ') || 'Select Allowed Tools'}}</div> <span class="caret"></span>
            </button>
            <ul ngbDropdownMenu class="w-100">
              <li ngbDropdownItem *ngFor="let tool of availableTools">
                <label role="button" class="w-100">
                  <input type="checkbox" [value]="tool" (change)="toggleSelection(tool, tools)" [checked]="tools.includes(tool)">
                  {{ tool }}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="maxStudents">Maximum students allowed</label>
          <input class="form-control" type="number" name="maxStudents" id="maxStudents" formControlName="maxStudents">
        </div>
        <div class="form-group">
          <label for="project_file">Upload Project File</label>
          <br/>
          <div class="upload-container">
            <input type="file" name="project_file" id="project_file" formControlName="project_file" accept=".pdf" (change)="onFileSelected($event)" class="file-upload form-control"/>
          </div>
        </div>
        <button (click)="upload($event)" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
