<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">Project Upload</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
    <div class="col ms-4">
      <form id="project_upload_form">
        <div class="form-group">
          <label for="title">Project Title</label>
          <input type="text" class="form-control tag-height" id="title" name="title" [(ngModel)]="upload_project.title"
                 placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Project Description</label>
          <input type="text" class="form-control tag-height" id="description" name="description"
                 [(ngModel)]="upload_project.description" placeholder="Enter Description">
        </div>
        <div class="form-group">
          <label for="skills">Required Skills</label>
          <div class="form-control tag-height">
            <tag-input
              [(ngModel)]="upload_project.skills"
              [separatorKeyCodes]="[32,9]"
              inputId="skills"
              name="skills"
              [placeholder]="'Add Required Skill'"
              [secondaryPlaceholder]="'Enter Required Skills'"
              [addOnBlur]="true"
              theme='bootstrap'
            >
            </tag-input>
          </div>
        </div>
        <div class="form-group">
          <label for="domain">Domain</label>
          <input type="text" class="form-control tag-height" id="domain" name="domain" [(ngModel)]="upload_project.domain"
                 placeholder="Enter Domain of Project">
        </div>
        <div class="form-group">
          <label for="languages">Programming Languages</label>
          <div class="form-control tag-height">
            <tag-input
              [(ngModel)]="upload_project.languages"
              [separatorKeyCodes]="[32,9]"
              inputId="languages"
              name="languages"
              [placeholder]="'Add Required Language'"
              [secondaryPlaceholder]="'Enter Required Languages'"
              [addOnBlur]="true"
              theme='bootstrap'
            ></tag-input>
          </div>
        </div>
        <div class="form-group">
          <label for="tools">Tools</label>
          <div class="form-control tag-height">
            <tag-input
              [(ngModel)]="upload_project.tools"
              [separatorKeyCodes]="[32,9]"
              inputId="tools"
              name="tools"
              [placeholder]="'Add Allowed Tool'"
              [secondaryPlaceholder]="'Enter Allowed Tools'"
              [addOnBlur]="true"
              theme='bootstrap'
            ></tag-input>
          </div>
        </div>
        <div class="form-group">
          <label for="maxStudents">Maximum students allowed</label>
          <input class="form-control tag-height" type="number" name="maxStudents" id="maxStudents" [(ngModel)]="upload_project.maxStudents">
        </div>
<!--        When file uploading will be added-->
<!--        <div class="form-group">-->
<!--          <label for="project_file">Upload Project File</label>-->
<!--          <br/>-->
<!--          <div class="upload-container">-->
<!--            <input type="file" name="project_file" id="project_file" [(ngModel)]="upload_project.project_file"-->
<!--                   class="file-upload"/>-->
<!--          </div>-->
<!--        </div>-->
        <button (click)="upload()" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
