<div class="container-fluid"> <!-- Page Heading -->
    <form id="project_upload_form">
        <div class="form-group">
          <label for="title">Project Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Project Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter Description">
        </div>
        <div class="form-group">
            <label for="skills">Required Skills</label>
            <input type="text" class="form-control" id="skills" placeholder="Enter Required Skills for this Project">
          </div>
          <div class="form-group">
            <label for="domain">Domain</label>
            <input type="text" class="form-control" id="domain" placeholder="Enter Domain of Project">
          </div>
          <div class="form-group">
            <label for="languages">Programming Languages</label>
            <input type="text" class="form-control" id="languages" placeholder="Enter Allowed Programming Languages">
          </div>
          <div class="form-group">
            <label for="tools">Tools</label>
            <tag-input></tag-input>

            <input type="text" class="form-control" id="tools" placeholder="Enter Allowed Tools">
          </div>
          <div class="form-group file-upload-wrapper">
            <label for="project_file">Upload Project File</label>
            <br/>
            <div class="file-upload-wrapper">
              <input type="file" name="project_file" id="project_file" class="file-upload" />
            </div>
          </div>
        <button class="btn btn-primary">Submit</button>
      </form>
</div>
<script>
    $(".file-upload").file_upload();
</script>
