<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
    <div class="col-md-12" *ngIf="!!cardsData[0].value">
      <div class="single_element">
        <div class="quick_activity">
          <div class="quick_activity_wrap">
            <div *ngFor="let card of cardsData" class="single_quick_activity" style="background: #3b76ef;">
              <h4>{{card.title}}</h4>
              <h3><span class="counter">{{card.value}}</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 row">
      <div class="col-xl-4 mb-3 mb-lg-4" *ngFor="let project of projects">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column text-center align-items-center">
  
                    <div class="flex-grow-1 pt-4">
                        <span class="d-block text-muted">Updated {{getTimeInHours(project.updatedAt)}}h ago</span>
                        <h5>{{ project.title }}</h5>
                        <div class="mb-4">
                            <span class="badge rounded-pill bg-success">In Progress</span>
                        </div>
                    </div>
                </div>
            </div>
  
            <!--Footer states-->
            <div class="card-footer py-0 border-top">
                <div class="row">
                    <div class="col text-center p-3">
                        <h4 class="fs-5 mb-1">{{project.totalTasks}}</h4>
                        <span class="d-block font-size-sm">Tasks</span>
                    </div>
  
                    <div class="col p-3 text-center border-end border-start">
                        <h4 class="fs-5 mb-1">{{getTimeInHours(project.createdAt)}}</h4>
                        <span class="d-block font-size-sm">Hours</span>
                    </div>
  
                    <div class="col p-3 text-center">
                        <h4 class="fs-5 mb-1">14</h4>
                        <span class="d-block font-size-sm">Days left</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
